Repository yvt/openspades, pull requests merged in 2019-01, with the labels that each got.

#793 Fix CMake build for macOS
  CMakeLists.txt
  Resources/CMakeLists.txt
  Sources/CMakeLists.txt
  cmake/FindSDL2.cmake
Labels: PR: solve-bug, cmake

#761 Do not overwrite User Resource Directory on every snap launch
  snap/scripts/launch_openspades
Labels: PR: solve-bug

#805 Update CMake policies
  CMakeLists.txt
Labels: PR: refactoring, cmake
