Repository yvt/openspades, pull requests merged in 2021-01, with the labels that each got.

#937 Little step further to fix M1 build.
  Sources/Draw/GLRadiosityRenderer.cpp
Labels: OS-Specific: Mac OS

#936 Temporal antialiasing
  Resources/Scripts/Gui/StartupScreen/ConfigViewTabs.as
  Resources/Shaders/PostFilters/TemporalAA.fs
  Resources/Shaders/PostFilters/TemporalAA.program
  Resources/Shaders/PostFilters/TemporalAA.vs
  Sources/Draw/GLFramebufferManager.h
  Sources/Draw/GLRenderer.cpp
  Sources/Draw/GLRenderer.h
  Sources/Draw/GLSettings.cpp
  Sources/Draw/GLSettings.h
  Sources/Draw/GLTemporalAAFilter.cpp
  Sources/Draw/GLTemporalAAFilter.h
  Sources/Gui/StartupScreenHelper.cpp
Labels: PR: new-feature, enhancement, renderer

#939 SDL2 few more paths proposal.
  cmake/FindSDL2.cmake
Labels: PR: improvement

#935 Sharpening post-processing effect
  Resources/Shaders/PostFilters/ColorCorrection.fs
  Sources/Draw/GLColorCorrectionFilter.cpp
  Sources/Draw/GLColorCorrectionFilter.h
  Sources/Draw/GLRenderer.cpp
  Sources/Draw/GLSettings.cpp
  Sources/Draw/GLSettings.h
Labels: AoSβ compatibility, PR: new-feature, enhancement, renderer
